<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jamie Fellows</title>
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

	<script type="text/javascript" src="/public/js/angular.min.js"></script>
	<script type="text/javascript" src="/public/js/app.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body ng-app="app" ng-controller="mainCtrl">
	<div class="container-fluid">
		<div class="row" id="page-header">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1>Jamie Fellows</h1>
				<h3>Full Stack Engineer</h3>
			</div>
		</div>
		<div class="row" id="page-nav">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<a href="/">Home</a>
				<a href="#home-page-first-content">About Me</a>
				<a href="#home-page-second-content">Skills</a>
				<a href="#main-page-third-content">Projects</a>
				<a href="resume.pdf">Resume</a>
			</div>
		</div>
		<div class="row" id="home-page-first-content">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	<h1>About me</h1>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	<p>After serving 6 years in the United States Air Force within Communications I entered the civilian world where I worked full time in conjunction with going to school full time to obtain a BS in IT with a emphasis on software. Over the course of my 10 year career within IT I have supported different kinds of environments ranging from Healthcare to Government infrastructure. 
	</p>
	<p>
	 My depth of knowledge is not limited to my professional career though. I am constantly expanding my knowledge base by building my own side projects and exploring new technologies.
	</p>
</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		
</div>
<div class="row" id="home-page-second-content">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="skills-parent-container">
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="skills">
			<h1>Skills</h1>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 skills-container text-left">
			<h2>Infrastructure</h2>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<div ng-click="changeIaasPlus()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#IaaS">

					<div ng-show="IaaSPlus">
						<h3><i class="fas fa-plus"></i> Cloud </h3>
					</div>
					<div ng-show="!IaaSPlus">
						<h3><i class="fas fa-minus"></i> Cloud</h3>
					</div>
				<h3> 
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="IaaS"> 
				<ul>
					<li>Azure</li>
					<li>Digital Ocean</li>
				</ul>
			</div>

			<div ng-click="changeVirtualPlus()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#virtual">
				<div ng-show="virtualPlus">
					<h3> <i  class="fas fa-plus"></i> Virtual</h3>
				</div>
				<div  ng-show="!virtualPlus"> 
					<h3> <i class="fas fa-minus"></i> Virtual</h3>
				</div>
					 
				
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="virtual"> 
				<ul>
					<li>VMware</li>
					<li>Oracle VirtualBox</li>
				</ul>
			</div>
			<div ng-click="changeNetworkingPlus()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#Networking">
				<div ng-show="networkingPlus">
					<h3> <i class="fas fa-plus"></i> Networking</h3>
				</div>
				<div ng-show="!networkingPlus">
					<h3> <i class="fas fa-minus"></i> Networking</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="Networking"> 
				<ul>
					<li>Cisco ASA's</li>
					<li>Fiber Cabling</li>
					<li>Ethernet Cabling</li>
					<li>Home Networking Solutions</li>
				</ul>
			</div>
			<div ng-click="changeHardwarePlus()"class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#Hardware">
				<div ng-show="hardwarePlus">
					<h3> <i class="fas fa-plus"></i> Hardware</h3>
				</div>
				<div>
					<h3 ng-show="!hardwarePlus"> <i class="fas fa-minus"></i> Hardware</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="Hardware"> 
				<ul>
					<li>Dell Servers</li>
					<li>Dell Computers</li>
					<li>HP Servers</li>
					<li>HP Computers</li>
					<li>Custom PC Builds</li>
					
				</ul>
			</div>
			<div ng-click="changeScriptingPlus()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#Scripting">
				<div ng-show="scriptPlus">
					<h3> <i class="fas fa-plus"></i> Scripting</h3>
				</div>
				<div ng-show="!scriptPlus">
					<h3> <i class="fas fa-minus"></i> Scripting</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="Scripting"> 
				<ul>
					<li>Powershell Scripting</li>
				</ul>
			</div>
			<div ng-click="changeOsPlus()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#os">
				<div ng-show="osPlus">
					<h3> <i class="fas fa-plus"></i> Operating Systems</h3>
				</div>
				<div ng-show="!osPlus">
					<h3> <i class="fas fa-minus"></i> Operating Systems</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="os"> 
				<ul>
					<li>Mac OSX</li>
					<li>Ubuntu</li>
					<li>CentOS</li>
					<li>Antergos</li>
					<li>Windows Server 2012</li>
					<li>Windows Server 2008</li>
					<li>Windows 10</li>
					<li>Windows 8</li>
					<li>Windows 7</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 skills-container text-left">
			<h2>Development</h2>
			<div ng-click="changeDatabasePlus()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#database">
				<div ng-show="databasePlus">
					<h3> <i class="fas fa-plus"></i> Databases</h3>
				</div>
				<div ng-show="!databasePlus">
					<h3> <i class="fas fa-minus"></i> Databases</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="database"> 
				<ul>
					<li>MongoDB</li>
					<li>MySQL</li>
				</ul>
			</div>

			<div ng-click="changeLangPlus()" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 skill" data-toggle="collapse" href="#lang">
				<div ng-show="langPlus">
					<h3> <i class="fas fa-plus"></i> Languages</h3>
				</div>
				<div ng-show="!langPlus">
					<h3> <i class="fas fa-minus"></i> Languages</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 collapse text-left" id="lang"> 
				<ul>
					<li>Node.js</li>
					<li>Javascript</li>
					<li>PHP</li>
					<li>Java</li>
					<li>Python</li>
				</ul>
			</div>
		</div>
		
	</div>

</div>
<div class="row" id="main-page-third-content">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
		<h2>Projects</h2>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<div ng-click="changeProject('left')">
			<i  class="fas fa-5x fa-arrow-left projectArrow"></i>
		</div>
		
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
		<div ng-show="projectShow === 'tracketz'"  class="projectContainer">
			<h3>Tracketz</h3>
			<h4>Stack: MEAN</h4>
			<p class="text-left">Description: Currently in development, this project is an IT Ticketing system designed to simplify everyday life within IT departments.</p>
		</div>
		<div ng-show="projectShow === 'licensebro'" class="projectContainer">
			<h3>LicenseBro</h3>
			<h4>Stack: Node, Angular, MySQL</h4>
			<p class="text-left">Description: Currently in development. This project is designed to simply licensing for customers by implementing an API.</p>
		</div>
	
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<div ng-click="changeProject('right')"  >
			<i class="fas fa-5x fa-arrow-right pull-right projectArrow"></i>
		</div>
	</div>
</div>
<div class="row" id="page-footer">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
		<a target="_blank" href="https://www.linkedin.com/in/jamie-fellows-818a9689/">
			<i class="fab fa-7x fa-linkedin-in footer-icon"></i>
		</a>
		<a target="_blank" href="https://github.com/ronfellows">
			<i class="fab fa-7x fa-github footer-icon"></i>
		</a>
		<a href="mailto:ronaldjamesfellows@gmail.com">
			<i class="fas fa-7x fa-envelope footer-icon"></i>
		</a>
		
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
</div>
</div>
</body>

<!-- JQUERY JAVASCRIPT -->
<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
<!--BOOTSTRAP JAVASCRIPT -->
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
</html>
