<div class="row" id="page-footer">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
		<a target="_blank" href="https://www.linkedin.com/in/jamie-fellows-818a9689/">
			<i class="fab fa-7x fa-linkedin-in footer-icon"></i>
		</a>
		<a target="_blank" href="https://github.com/ronfellows">
			<i class="fab fa-7x fa-github footer-icon"></i>
		</a>
		<a href="mailto:ronaldjamesfellows@gmail.com">
			<i class="fas fa-7x fa-envelope footer-icon"></i>
		</a>
		
	</div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
</div>
</div>
</body>

<!-- JQUERY JAVASCRIPT -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<!--BOOTSTRAP JAVASCRIPT -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</html>