<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jamie Fellows</title>
	<!-- CUSTOM CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">

	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body ng-app="app" ng-controller="mainCtrl">
	<div class="container-fluid">
		<div class="row" id="page-header">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1>Jamie Fellows</h1>
				<h3>Full Stack Engineer</h3>
			</div>
		</div>
		<div class="row" id="page-nav">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<a href="/">Home</a>
				<a href="#home-page-first-content">About Me</a>
				<a href="#home-page-second-content">Skills</a>
				<a href="#main-page-third-content">Projects</a>
				<a href="/resume.pdf">Resume</a>
			</div>
		</div>